<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivamnitrr.covid19tracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shivamnitrr.covid19tracker.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shivamnitrr.covid19tracker.AboutActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.EachCountryDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.CountryWiseDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.EachDistrictDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.DistrictWiseDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.EachStateDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.StateWiseDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.WorldDataActivity" />
        <activity android:name="com.shivamnitrr.covid19tracker.MainActivity">

        </activity>
    </application>

</manifest>